* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    background-color: #7700ff1f;
    font-family: Arial, sans-serif;
    padding: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    height: auto    ;
    margin: 0 auto;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.inputContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
}

.inputContainer input {
    padding: 2em;
    border-radius: 10em;
}